<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> if and if-else</h1>
        {% if a > 100 %}
              <h2> i am in if block</h2>
              <h2> {{a}} </h2>
          {%  endif  %}
         
          {% if a > b %}
                <h2>inside if block</h2>
                <h2>{{a}}</h2>
          {% else %}  
                 <h2> i am in else block</h2>
                 <h2>{{b}}</h2>  
           {% endif %}  
    </center>
    
</body>
</html>